.portfolio {
}
.portfolio-title {
  margin: 0 auto 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-ill {
  display: block;
}
.portfolio-card {
  /* border-bottom-left-right-radius: 1px solid #e7e9fc;*/
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-func {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto 8px;
}
.portfolio-prop {
  font-weight: 400;
  color: #434455;
}
