.team {
  background: #f4f4fd;
}

.team-title {
  margin: 0 auto 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
  background: #fff;
}
.team-ill {
  display: block;
  min-width: 100%;
}
.kebab-case {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.team-prof {
  font-weight: 400;
  text-align: center;
  color: #434455;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  /*
  width: 264px;padding: 32px;
  height: 120px;*/
}
.team-wrapper {
  display: flex;
  flex-direction: column;
}
